body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    overflow-x: hidden;
}

.sidebar {
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 250px; 
    height: 100%; 
    background-color: #111;
    color: white;
    transition: transform 0.3s ease; 
    transform: translateX(-100%); 
    z-index: 1000; 
}


.sidebar.active {
    transform: translateX(0);
}

.sidebar h2 {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    position: relative; 
    width: 100%; 
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.sidebar ul li a {
    flex-grow: 1; 
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 100%;
    color: white;
    text-decoration: none;
}

.sidebar ul li .toggle-btn {
    margin-right: 10px; 
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    background: none; 
    border: none; 
    padding: 0 10px; 
}

.sidebar ul li a:hover,
.sidebar ul li .toggle-btn:hover {
    background-color: #575757;
}

.sidebar ul li a:hover {
    background-color: #575757;
}


.main-content {
    flex-grow: 1;
    margin-left: 0; 
    transition: margin-left 0.3s ease; 
}

.main-content.active {
    margin-left: 250px; 
}


.content {
    padding-left: 20px;
}

.main-content h1 {
    font-size: 2rem;
}

/* --------------------------------Dropdown styles----------------------------- */
.dropdown-menu {
    display: none; /* Hide the dropdown by default */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute; /* Position it absolutely within the dropdown */
    top: 50px; /* Adjust this based on your sidebar item height */
    left: 0; 
    width: 100%; 
    background-color: #222; /* Background color for dropdown */
    z-index: 999;
}

.dropdown-menu.show {
    display: block; /* Show the dropdown when the class is present */
}

.dropdown-menu li {
    height: 40px;
}

.dropdown-menu li a {
    padding-left: 30px; 
}

.dropdown-menu li a:hover {
    background-color: #575757;
}